.container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  background-color: #ffffff22;
  font-size: 1.5rem;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

.label {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.5em;
}
.label svg {
  display: block;
}

.input {
  appearance: none;
  border: none;
  background: none;
  outline: none;
  font: inherit;
  color: inherit;
  flex: 1;
  line-height: 2em;
}
